AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Never
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  # c headers
  - Regex: '^<(cassert|ccomplex|cctype|cerrno|cfenv|cfloat|cinttypes|ciso646|climits|clocale|cmath|csetjmp|csignal|cstdalign|cstdarg|cstdbool|cstddef|cstdint|cstdio|cstdlib|cstring|ctgmath|ctime|cuchar|cwchar|cwctype)>$'
    Priority: 1
  # c++ headers
  - Regex: '^<(algorithm|any|array|atomic|bitset|charconv|chrono|complex|condition_variable|deque|exception|execution|filesystem|forward_list|fstream|functional|future|initializer_list|iomanip|ios|iosfwd|iostream|istream|iterator|limits|list|locale|map|memory|memory_resource|mutex|new|numeric|optional|ostream|queue|random|ratio|regex|set|shared_mutex|scoped_allocator|sstream|stack|stdexcept|streambuf|string|string_view|system_error|thread|tuple|type_traits|typeindex|typeinfo|unordered_map|unordered_set|utility|valarray|variant|vector)>$'
    Priority: 2
  # other headers
  - Regex: '^<'
    Priority: 3
  # local headers
  - Regex: '^"[[:alnum:]._]+"'
    Priority: 6
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 2
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
LambdaBodyIndentation: OuterScope
Language: Cpp
LineEnding: LF
MaxEmptyLinesToKeep: 1
MainIncludeChar: Any
NamespaceIndentation: All
NamespaceMacros: [ 'TEST' ]
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [ 'friend', 'static', 'inline', 'constexpr', 'volatile', 'const', 'type' ]
ReferenceAlignment: Left
RemoveBracesLLVM: false
SeparateDefinitionBlocks: Leave
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: true
SpacesInContainerLiterals: true
Standard: c++17
UseTab: Never
